/* --- Tailwind Theme --- */
@theme inline {
  /* Backgrounds */
  --color-bg-page:      var(--bg-page);
  --color-bg-surface:   var(--bg-surface);
  --color-bg-elevated:  var(--bg-elevated);
  --color-bg-input:     var(--bg-input);
  --color-atmos-top:    var(--atmos-top);
  --color-atmos-bottom:    var(--atmos-bottom);

  /* Text */
  --color-text-primary:   var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted:     var(--text-muted);
  --color-text-on-brand:  var(--text-on-brand);

  /* Borders */
  --color-border-default: var(--border-default);
  --color-border-strong:  var(--border-strong);
  --color-border-focus:   var(--border-focus);

  /* Brand / interactive */
  --color-brand:          var(--brand);
  --color-brand-hover:    var(--brand-hover);

  /* Semantic */
  --color-success:  var(--success);
  --color-warning:  var(--warning);
  --color-danger:   var(--danger);
  --color-info:     var(--info);
}

/* --- Light mode (default) ─── */
:root {
  --bg-page:      white;
  --bg-surface:   var(--color-neutral-gray-100);
  --bg-elevated:  var(--color-neutral-gray-50);
  --bg-input:     var(--color-neutral-gray-50);
  --atmos-top:    var(--color-neutral-gray-50);
  --atmos-bottom: var(--color-neutral-gray-50);

  --text-primary:   var(--color-neutral-gray-900);
  --text-secondary: var(--color-neutral-gray-600);
  --text-muted:     var(--color-neutral-gray-400);
  --text-on-brand:  white;

  --border-default: var(--color-neutral-gray-200);
  --border-strong:  var(--color-neutral-gray-400);
  --border-focus:   var(--color-brand-orange-600);

  /* --brand:       var(--color-brand-orange-400); */
  --brand:       var(--color-brand-blue-400);
  /* --brand-hover: var(--color-brand-orange-600); */
  --brand-hover: var(--color-brand-blue-400);

  --success: oklch(55% 0.18 145);
  --warning: oklch(72% 0.18 70);
  --danger:  oklch(55% 0.22 25);
  --info:    oklch(58% 0.18 250);

  --icon-filter: none;
  --icon-filter-hover: invert(1);
}

/* ─── Dark mode ─── */
.dark {
  --bg-page: var(--color-neutral-blue-900);
  --bg-surface:   var(--color-neutral-blue-700);
  --bg-elevated:  var(--color-neutral-blue-600);
  --bg-input:     var(--color-neutral-blue-800);
  --atmos-top:    #7bd0ff;
  --atmos-bottom: #004d6a;

  --text-primary:   var(--color-neutral-blue-100);
  --text-secondary: var(--color-neutral-blue-200);
  --text-muted:     var(--color-neutral-blue-600);
  --text-on-brand:  var(--color-neutral-blue-800);

  --border-default: var(--color-neutral-blue-400);
  --border-strong:  var(--color-neutral-blue-600);
  --border-focus:   var(--color-brand-blue-400);

  --brand:       var(--color-brand-blue-400);   /* светлее в dark! */
  --brand-hover: var(--color-brand-blue-200);

  --success: oklch(70% 0.18 145);
  --warning: oklch(80% 0.18 70);
  --danger:  oklch(70% 0.22 25);
  --info:    oklch(70% 0.18 250);

  --icon-filter: invert(1);
  --icon-filter-hover: none;
}
