/* common CSS variables (not Taiwind ones) */

:root {
  /* Neutral dark mode ramp */
  --color-neutral-blue-50:  #EEF0FF;
  --color-neutral-blue-100: #DAE2FD;
  --color-neutral-blue-200: #BEC6E0;
  --color-neutral-blue-300: #A3ABC4;
  --color-neutral-blue-400: #8990A8;
  /* --color-neutral-blue-500: #6F778E; */
  --color-neutral-blue-500: #3a5490;
  /* --color-neutral-blue-600: #565E74; */
  --color-neutral-blue-600: #2e4271;
  /* --color-neutral-blue-700: #3F465C; */
  --color-neutral-blue-700: #233256;
  /* --color-neutral-blue-800: #283044; */
  --color-neutral-blue-800: #1a253f;
  --color-neutral-blue-900: #131B2E;

    /* Neutral light mode ramp */
  --color-neutral-gray-50:  #EEF0FF;
  --color-neutral-gray-100: #DAE2FD;
  --color-neutral-gray-200: #B7C8E1;
  --color-neutral-gray-300: #9CACC5;
  --color-neutral-gray-400: #8292AA;
  --color-neutral-gray-500: #68788F;
  --color-neutral-gray-600: #505F76;
  --color-neutral-gray-700: #38485D;
  --color-neutral-gray-800: #213145;
  --color-neutral-gray-900: #0B1C30;

  /* Brand dark mode ramp */
  --color-brand-blue-50:  #E3F3FF;
  --color-brand-blue-100: #C4E7FF;
  --color-brand-blue-200: #7BD0FF;
  --color-brand-blue-300: #2DB7F2;
  --color-brand-blue-400: #009BD1;
  --color-brand-blue-500: #0080AD;
  --color-brand-blue-600: #00668A;
  --color-brand-blue-700: #004C69;
  --color-brand-blue-800: #00354A;
  --color-brand-blue-900: #001E2C;

  /* Brand light mode ramp */
  --color-brand-orange-50:  #FFEDE6;
  --color-brand-orange-100: #FFDBCA;
  --color-brand-orange-200: #FFB690;
  --color-brand-orange-300: #FF8D4B;
  --color-brand-orange-400: #EC6A06;
  --color-brand-orange-500: #C45600;
  --color-brand-orange-600: #9D4300;
  --color-brand-orange-700: #783200;
  --color-brand-orange-800: #552100;
  --color-brand-orange-900: #341100;

}

